/* ==========================================================================
G E N E R A L
========================================================================== */

html {
  overflow-x: hidden;
}

body {
  height: 100%;
  margin: 0;
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #abacae;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}

section {
  padding: 100px 0;
}

.section-title {
  margin-bottom: 50px;
  text-align: center;
  color: #13684E;
  clear: both;
  font-weight: 500;
  line-height: 26px;
}

.section-padding {
  padding: 60px 0;
}

/* ==========================================================================
N A V B A R
========================================================================== */
nav {
  background: transparent;
}

nav img{
  margin: 0 auto;
}

nav .container {
  display: flex;
  justify-content: space-between;
}

.nav-on-scroll {
  background-color: #fff;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.nav-item {
  padding: 0 20px;
}

.nav-item a {
  color: #747474;
  /* color: #FFF; */
}

.navbar .fa-bars {
  font-size: 25px;
}

.navbar .menu-hide {
  display: none;
}

.navbar-brand {
  color: #078010;
  font-weight: bold;
}

.navbar-brand img{
  height: 40px;
}

@media screen and (min-width: 992px) {
  #navbar1 {
    /* width: 100%; */
  }
}


@media screen and (max-width: 991px) {
  nav {
    background-color: #fff;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
  }

  .navbar-collapse {
    margin-top: 20px;
  }

  .nav-item a {
    text-align: center;
    color: #747474;
  }
}


/* ==========================================================================
BANNER
========================================================================== */
#banner {
  height: 700px;
  background: linear-gradient(to right, #e2e7ef 0%, #ffffff 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#banner .text {
  width: 80%;
  max-width: 800px;
  margin: 100px auto;
  text-align: center;
}

.banner-img img {
  width: 80%;
  max-height: 80%;
  max-width: 800px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  #banner {
    height: 88vh;
  }
}


/* ==========================================================================
PROJECTS
========================================================================== */

#club-finity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#club-finity div {
  margin: 0 3%;
}


#club-finity img {
  max-width: 500px;
  width: 80%;
  /* align-self: center; */
}

#club-finity .description {
  max-width: 550px;
  /* margin: 0 1.5em; */
}

@media screen and (max-width: 755px){
  #club-finity {
    flex-direction: column;
  }

  #club-finity {
    flex-direction: column-reverse;
    justify-content: center;
  }

  #club-finity {
    margin: 50px auto;
  }

  #club-finity div {
    margin-bottom: 5vw;
    align-self: center;
  }

  #club-finity .illustration,
  #club-finity .illustration {
    text-align: center;
  }
}

.card-blog {
  height: 600px;
}
.post-box,
.form-comments,
.box-comments,
.widget-sidebar {
  padding: 2rem;
  background-color: #fff;
  margin-bottom: 3rem;
}

.blog-wrapper .article-title {
  font-size: 1.5rem;
}

.blog-wrapper .post-meta {
  margin: 1rem 0;
}

.blog-wrapper .post-meta ul {
  border-left: 4px solid #0078ff;
  margin-top: 1rem;
}

.blog-wrapper .post-meta ul li {
  display: inline-block;
  margin-left: 15px;
}

.blog-wrapper .post-meta ul a {
  color: #0078ff;
}

.blog-wrapper .post-meta ul span {
  color: #1e1e1e;
}

.blog-wrapper .blockquote {
  border-left: 4px solid #0078ff;
  padding: 18px;
  font-style: italic;
}

/*--------- F O O T E R ---------*/
.page-footer {
  background-color: #212529;
  color: #DEDEDE;
  /* padding: 100px 0; */
}

.page-footer .container {
  margin-top: 100px;
}

.list-unstyled li a {
  color: #D0D0D0;
  text-decoration: none;
  list-style: none;
  font-weight: lighter;
}

.social-icon a {
  color: #666;
  background: #fff;
  width: 32px;
  height: 32px;
  line-height: 34px;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  font-size: 16px;
  margin: 15px 6px 12px 4px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.social-icon a:hover {
  color: #fff !important;
}

.social-icon .facebook:hover {
  background: #3b5999;
}

.social-icon .twitter:hover {
  background: #4A9CEC;
}

.social-icon .instagram:hover {
  background: #D6274D;
}

.social-icon .linkedin:hover {
  background: #1260A2;
}

.social-icon .google:hover {
  background: #CE332A;
}


.footer-copyright {
  margin-top: 50px;
  background-color: #212529;
}

.footer-copyright a {
  text-decoration: none;
  list-style: none;
}



/*------------------
  Course section
---------------------*/

.course-warp {
	max-width: 1559px;
	padding: 0 15px;
	margin: 0 auto -30px;
}

.course-item {
	margin-bottom: 30px;
}

.course-item .course-thumb {
	height: 270px;
}

.course-item .course-thumb .price {
	font-size: 14px;
	color: #fff;
	font-weight: 600;
	background: #d82a4e;
	display: inline-block;
	padding: 13px 19px;
	margin: 14px;
}

.course-item .course-info {
	background: #edf4f6;
}

.course-item .course-info .course-text {
	padding: 45px 33px 25px;
}

.course-item .course-info .course-text h5 {
	margin-bottom: 5px;
}

.course-item .course-info .course-text .students {
	font-size: 18px;
	font-weight: 600;
	color: #d82a4e;
}

.course-item .course-info .course-author {
	border-top: 1px solid #d4dee1;
	padding: 14px 33px;
	overflow: hidden;
}

.course-item .course-info .course-author .ca-pic {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	float: left;
}

.course-item .course-info .course-author p {
	padding-left: 60px;
	margin-bottom: 0;
	padding-top: 7px;
	font-weight: 600;
}

.course-item .course-info .course-author p span {
	color: #d82a4e;
}

.course-item.featured-course {
	position: relative;
	margin-bottom: 97px;
}

.course-item.featured-course:last-child {
	margin-bottom: 30px;
}

.course-item.featured-course:nth-child(2n) .course-thumb {
	left: auto;
	right: 0;
}

.course-item.featured-course .course-thumb {
	position: absolute;
	width: 50%;
	height: 100%;
	left: 0;
	top: 0;
}

.course-item.featured-course .fet-note {
	display: inline-block;
	background: #d82a4e;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	padding: 4px 15px;
	margin-bottom: 20px;
}

.course-item.featured-course .course-info .course-text {
	padding: 70px 33px 25px;
}

.course-item.featured-course .course-info .course-text h5 {
	margin-bottom: 20px;
}

.course-item.featured-course .course-info .course-author {
	border-top: none;
	padding: 14px 33px 60px;
}

.course-filter {
	list-style: none;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 60px;
}

.course-filter li {
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	color: #474747;
	padding: 12px 10px 5px;
	margin: 0 10px;
	border-bottom: 4px solid transparent;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.course-filter li.mixitup-control-active {
	color: #d82a4e;
	border-bottom: 4px solid #d82a4e;
}
