/* ==========================================================================
T U T O R I A L S
========================================================================== */
#tutorials .row {
  max-width: 1200px;
  margin: 0 auto;
}

#feed-content * {
  float: left;
}

#tutorials h5 {
  text-align: center;
  margin-top: 20px;
}

.code-link {
  text-align: center;
}

@media screen and (max-width: 991px) {
  #tutorials .row {
    width: 70%;
  }
}
